doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='./styles/index.scss')
    link(rel='stylesheet', href='./styles/projects/hello.scss')
    title Motion Trains

  body
    div#root
    script(src='./pages/index.tsx')

